{% extends 'base.html' %}


{% block content %}
<article class="container">
    <article class="row justify-content-center align-items-center">
        <section class="col-lg-6 col-md-8 col-12 px-5">
            <form method="POST">
                <h1>Add user to course</h1>
                {% csrf_token %}

                <section>
                    <label for="username">Username:</label>
                    <input type="text" required id="username"  name="username" class="form-control">
                </section>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </article>
</article>
{% endblock %}