{% extends 'base.html' %}

{% block title %}{{course.name}}{% endblock %}

{% block content %}
<article class="container mt-3">
	<article class="course-container">
		<figure class="course-cover-container noselect">
			{% if course.cover %}
				<img src="{{ course.cover.url }}" class="main-course-cover">
			{% else %}
				<div class="course-cover box"></div>
			{% endif %}
			<figcaption class="course-caption d-flex flex-column text-light">
				<b>{{ course.name }}</b>
				<a href="{% url 'user-info' course.user.pk %}" class="text-light fs-4">{{ course.user }}</a>
			</figcaption>
			<a href="{% url 'edit-course' course.pk %}" class="course-edit text-light">Edit <span class="material-symbols-outlined pointer">edit</span></a>
		</figure>
		
		<article class="d-flex gap-3">
			<section class="d-flex flex-column code-container">
				<h4>Code:</h4> 
				<b class="fs-3">{{course.code}}</b>
			</section>
			<section class="lesson-grid">
				{% if course.user == request.user %}
					<a class="add-lesson-btn" href="{% url 'add-lesson' course.pk %}">
						Add Lesson
						<span class="material-symbols-outlined">add_box</span>
					</a>
				{% endif %}
			
				{% if lessons %}
					{% for lesson in lessons %}
					<article class="lesson-card">
						<div class="lesson-header">
							<h3><a href="{% url 'lesson-details' lesson.course.pk lesson.pk %}">{{lesson.course.user}} published "{{ lesson.name|truncatewords:50 }}"</a></h3>
							<p class="lesson-date">{{ lesson.date_to|date:"F j, Y" }}</p>
						</div>
					</article>
					{% endfor %}
				{% else %}
					<h3 class="no-lessons"><i>There are no lessons yet...</i></h3>
				{% endif %}
			</section>
			
		</article>
	</article>
</article>
{% endblock %}