{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<br>
<h4><a href="{% url 'add-course' %}">Create a course</a></h4>
<h4><a href="{% url 'join-course' %}">Join a course</a></h4>
<br>
<header class="d-flex gap-3">
    <span onclick="filterCourses('joined')" class="pointer {% if category == 'joined' %}my-active {% else %} gray-text {% endif %}">Joined</span>
    <span onclick="filterCourses('own')" class="pointer {% if category == 'own' %}my-active {% else %} gray-text {% endif %}">Own</span>
</header>

{% for course in courses %}
	<br>
    <article class="course-container">
        <a href="{% url 'course-details' course.pk %}" class="course-link pointer">
            <div class="image-container">
                {% if course.cover %}
                    <img src="{{ course.cover.url }}" class="course-cover">
                {% else %}
                    <div class="course-cover box"></div>
                {% endif %}
                <div class="text-overlay">
                    <h2>{{ course.name }}</h2>
                    <h3>{{ course.user }}</h3>
                </div>
            </div>
        </a>
    </article>
{% endfor %}
<script>
	function filterCourses(category) {
        window.location.href = `?category=${category}`;
    }
</script>
{% endblock %}