{% load custom_tags %}

<article class="d-flex flex-column answer-list">
    {% for answer in answers %}
        <article class="d-flex border border-black border-top-0 border-end-0 answer-block">
            <section class="answer-user p-2" onclick="toggleUserAnswer({{answer.pk}})"><h4 class="overflow-hidden">{{answer.user}}</h4></section>
            
            <form method="POST" action="{% url 'mark-answer' answer.pk %}" class="d-flex align-items-center justify-content-center px-4 mark-form">
                {% csrf_token %}
                <input class="mark-input" name="mark" id="mark" value="{% if answer.mark %}{{answer.mark}}{% endif %}">
                <label for="mark">/{{answer.lesson.max_mark}}</label>
                <button type="submit" class="btn btn-primary">ok</button>
            </form>
        </article>
    {% endfor %}
</article>

<article id="user-answer" class="border border-black border-end-0 border-top-0 p-2" style="width:70vw; height:90vh">
    {% if answer %}
        <article class="d-flex justify-content-end"><span onclick="loadTab('answers')" class="material-symbols-outlined pointer">close</span></article>
        <section class="d-flex justify-content-between">
            <h2>{{answer.user}}</h2>
            <b>{% if answer.mark %} {{answer.mark}}/{{lesson.max_mark}} {% else %} Not evaluated {% endif %}</b>
        </section>

        {% if answer.files %}
            {% for file in answer.files.all %}
                <div class=" position-relative d-flex align-items-center border border-black rounded p-2 mb-3">
                    <a href="{{ file.file.url }}" target="_blank" class="d-flex align-items-center text-decoration-none text-hover">
                        <section class="me-2">
                            {% if file.file.url|endswith:".jpg" or file.file.url|endswith:".jpeg" or file.file.url|endswith:".png" %}
                                <img src="{{ file.file.url }}" alt="Preview" style="width: 50px; height: 40px;">
                            {% elif file.file.url|endswith:".mp4" %}
                                <video style="width: 50px; height: 40px;" muted>
                                    <source src="{{ file.file.url }}" type="video/mp4">
                                </video>
                            {% else %}
                                <span class="material-symbols-outlined fs-3">insert_drive_file</span>
                            {% endif %}
                        </section>
                        <p class="overflow-hidden" style="height: 30px">
                            {{ file.file|cut:"answer_media/" }}
                        </p>
                    </a>
                </div>
            {% endfor %}
        {% endif %}

    {% else %}
        <h3>{{lesson.name}}</h3>
        <ul class="d-flex gap">
            <li class="d-flex flex-column"><p>Uploaded</p> <p>{{uploaded}}</p></li>
            <li class="d-flex flex-column"><p>Assigned</p><p>{{assigned}}</p></li>
            <li class="d-flex flex-column"><p>Evaluated</p> <p>{{evaluated}}</p></li>
        </ul>
    {% endif %}
</article>