{% extends 'base.html' %}

{% block title %}{{lesson.name}} - {{lesson.course.name}}{% endblock %}

{% block content %}
{% load custom_tags %}
{% if request.user == lesson.course.user %}
<header class="d-flex gap-3 mb-3 ps-4 pt-2">
    <span onclick="loadTab('about')" class="pointer {% if tab == 'about' %}my-active {% else %} gray-text {% endif %}">About</span>
    <span onclick="loadTab('answers')" class="pointer {% if tab == 'answers' %}my-active {% else %} gray-text {% endif %}">Answers</span>
</header>
<hr>
{% endif %}
<br>
<article class="d-flex container gap">
    {% if tab == 'about' %}
        <section class="d-flex flex-column lesson-main">
            <section class="d-flex justify-content-between">
                <h1>{{ lesson.name }}  </h1>
        
                {% if request.user == lesson.course.user %}
                <div class="dropdown">
                    <button class="nav-link active d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-symbols-outlined">more_vert</span>
                    </button>
                    <ul class="dropdown-menu custom-dropdown-menu">
                        <li><a href="{% url 'lesson-edit' lesson.course.pk lesson.pk %}" class="dropdown-item">Edit lesson</a></a></li>
                        <li><a href="{% url 'lesson-delete' lesson.course.pk lesson.pk %}" class="dropdown-item">Delete lesson</a></li>
                    </ul>
                </div>
                {% endif %}
            </section>

            <h5 class="text-muted">{{ lesson.course.user }} {{ lesson.date_published|custom_date_format }} {% if lesson.edited %} (Edited {{lesson.last_edited_at|custom_date_format}}) {% endif %}</h5>
            <h5>{% if mark %} {{mark}}/{% endif %}{{lesson.max_mark}} points</h5>
            <h5 class="lesson-info-date">Due: {% if lesson.date_to %} {{lesson.date_to|custom_date_format}} {% else %} no date {% endif %}</h5>
        
            <hr>
            <section>
                <p>{{lesson.content}}</p>
                {% if lesson.upload_data %}
                    <a href="{{ lesson.upload_data.url}}" target="_blank" class="d-flex align-items-center border border-black rounded p-2 mb-3" style="width: 350px;">
                        <section class="me-3">
                            {% if lesson.upload_data.url|endswith:".jpg" or lesson.upload_data.url|endswith:".jpeg" or lesson.upload_data.media.url|endswith:".png" %}
                                <img src="{{lesson.upload_data.url}}" style="width: 90px; height: 60px;">
                            {% elif lesson.upload_data.url|endswith:".mp4" %}
                                <video style="width: 90px; height: 60px;" muted>
                                    <source src="{{ lesson.upload_data.url}}"  type="mp4/video">
                                    Your browser does not support video tag
                                </video>
                            {% elif lesson.upload_data.url|endswith:"mp3" %}
                                <audio src="{{ lesson.upload_data.url}}" controls></audio>
                            {% else %}
                                <span class="material-symbols-outlined" style="font-size: 48px;">insert_drive_file</span>
                            {% endif %}
                        </section>
                        <section class="overflow-hidden">
                            {{ lesson.upload_data|cut:"lesson_media/" }}
                        </section>
                    </a>
                {% endif %}
            </section>

            <hr>
            <h4>Lesson comments</h4>
            <section class="comments-section">
                <ul id="comments" class="comments-list position-relative">
                    {% for comment in lesson.comments.all %}
                    <li class="comment-item">
                        <p class="comment-author">
                            <a href="{% url 'user-info' comment.user.pk %}">
                                <b>{{ comment.user }}</b>
                            </a>
                            {{ comment.date_published|custom_date_format }}
                        </p>
                        <p class="comment-content">{{ comment.content }}</p>
                    </li>
                    {% endfor %}
                </ul>
            
                <section class="add-comment">
                    <input id="message-content" placeholder="Add a comment..." class="comment-input">
                    <button class="send-btn" onclick="SendComment({{ lesson.course.pk }}, {{ lesson.pk }})">Send</button>
                </section>
            </section>
        </section>
        {% if request.user != lesson.course.user %}

            <section class="answer-container">
                <article class="p-4" style="width: 400px;">
                    <section class="d-flex justify-content-between">
                        <h4>Your answer</h4> {% if mark %} <i class="text-muted">Evaluated</i> {% endif %}
                    </section>
                    {% if user_has_answered %}
                        <article>
                            {% for file in user_answer.files.all %}
                                <div class=" position-relative d-flex align-items-center border border-black rounded p-2 mb-3">
                                    <a href="{{ file.file.url }}" target="_blank" class="d-flex align-items-center text-decoration-none text-dark">
                                        <section class="me-3">
                                            {% if file.file.url|endswith:".jpg" or file.file.url|endswith:".jpeg" or file.file.url|endswith:".png" %}
                                                <img src="{{ file.file.url }}" alt="Preview" style="width: 90px; height: 60px;">
                                            {% elif file.file.url|endswith:".mp4" %}
                                                <video style="width: 90px; height: 60px;" muted>
                                                    <source src="{{ file.file.url }}" type="video/mp4">
                                                </video>
                                            {% else %}
                                                <span class="material-symbols-outlined" style="font-size: 48px;">insert_drive_file</span>
                                            {% endif %}
                                        </section>
                                        <p class="overflow-hidden" style="width: 200px">
                                            {{ file.file|cut:"answer_media/" }}
                                        </p>
                                    </a>
                                    <a href="#" onclick="deleteFile('{{ file.pk }}')" class="position-absolute top-50 end-0 translate-middle-y me-2 text-dark">
                                        <span class="material-symbols-outlined">close</span>
                                    </a>
                                </div>
                            {% endfor %}
                        </article>
                    {% endif %}
                        <form method="POST" enctype="multipart/form-data" action="{% url 'lesson-answer' lesson.course.pk lesson.pk %}">
                            {% csrf_token %}
                            <div class="custom-file-upload" style="width:100%">
                                <label for="data" class="d-flex justify-content-center align-items-center gap-3 pointer" >
                                    <span class="material-symbols-outlined fs-3">cloud_upload</span>
                                    <span id="file-names" class="fs-5">Choose files...</span>
                                </label>
                                <input type="file" id="data" name="data" class="d-none" multiple onchange="showFileNames(event)">
                            </div>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary" style="width:100%">Send</button>
                        </form>
                        <form method="POST" action="{% url 'return-answer' lesson.course.pk lesson.pk %}" class="mt-3">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="width:100%">Return answer</button>
                        </form>
                </article>
            </section>
        {% endif %}
    {% else %}
        {% for answer in answers %}
            <article class="d-flex flex-column">
                <h2>{{answer.user}}</h2>
                {% for file in answer.files.all %}
                <br>
                    <img src="{{file.file.url}}" style="width: 200px; height: 100px;">
                {% endfor %}
                <br>
                <form method="POST" action="{% url 'mark-answer' answer.pk %}">
                    {% csrf_token %}
                    <label for="mark">Give a mark</label>
                    <input name="mark" id="mark" type="number" value="{% if answer.mark %}{{answer.mark}}{% endif %}">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </article>
        {% endfor %}
    {% endif %}
</article>

<script>
    function loadTab(tabName) {
        window.location.href = `?tab=${tabName}`;
    }

    function showFileNames(event) {
        const input = event.target;
        const fileNames = [...input.files].map(file => file.name).join(', ');
        document.getElementById('file-names').textContent = fileNames || 'Choose files...';
    }

    function deleteFile(fileId) {
        if (confirm("Are you sure you want to delete this file?")) {
            fetch(`{% url 'delete-file' 0 %}`.replace('/0', `/${fileId}`), {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert("Failed to delete file.");
                }
            });
        }
    }

	function SendComment(courseId, lessonId) {
    const content = document.getElementById('message-content').value.trim();
    if (content === '') {
        alert('Please enter the text.');
        return;
    }

    const formData = new FormData();
    formData.append('content', content);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    fetch(`/${courseId}/${lessonId}`, { // Оновлено URL
        method: 'POST',
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
        },
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            const lessonComments = document.getElementById('comments');
            const newComment = document.createElement('li');
            newComment.classList.add('comment-item');
            newComment.innerHTML = `
                <p class="comment-author">
                    <a href="${data.user_url}">
                        <b>${data.username}</b>
                    </a>
                    ${data.date_published}
                </p>
                <p class="comment-content">${data.content}</p>
            `;
            lessonComments.appendChild(newComment);
            document.getElementById('message-content').value = '';
        } else {
            alert('Error sending message: ' + (data.error || 'Unknown error'));
        }
    })
    .catch(error => console.error('Error:', error));
}
</script>
{% endblock %}