{% load custom_tags %}

<section class="d-flex justify-content-between p-2">
    <h2>{{answer1.user}}</h2>
    {% if answer1.mark %}<i class="no-lessons">Evaluated</i>{% endif %}
</section>
{% if answer1.files %}
    {% for file in answer1.files.all %}
        <div class=" position-relative d-flex align-items-center border border-black rounded p-2 mb-3">
            <a href="{{ file.file.url }}" target="_blank" class="d-flex align-items-center text-decoration-none text-hover">
                <section class="me-2">
                    {% if file.file.url|endswith:".jpg" or file.file.url|endswith:".jpeg" or file.file.url|endswith:".png" %}
                        <img src="{{ file.file.url }}" alt="Preview" style="width: 50px; height: 40px;">
                    {% elif file.file.url|endswith:".mp4" %}
                        <video style="width: 50px; height: 40px;" muted>
                            <source src="{{ file.file.url }}" type="video/mp4">
                        </video>
                    {% else %}
                        <span class="material-symbols-outlined fs-3">insert_drive_file</span>
                    {% endif %}
                </section>
                <p class="overflow-hidden" style="height: 30px;width:200px">
                    {{ file.file|cut:"answer_media/" }}
                </p>
            </a>
            <a href="#" onclick="deleteFile('{{ file.pk }}')" class="position-absolute top-50 end-0 translate-middle-y p-2 text-dark">
                <span class="material-symbols-outlined">close</span>
            </a>
        </div>
    {% endfor %}

{% endif %}